html
  head
    title= title
    // amp infinite scrolling
    script(async='true' src='https://cdn.ampproject.org/v0.js')
    script(async custom-element='amp-next-page' src='https://cdn.ampproject.org/v0/amp-next-page-1.0.js')  
  body
    h1= "Hello Mr Dominik"
    h2="I'am building infinte scroll with express pug and amp"
    h3="Scroll down to see infinite scroll"
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    
  amp-next-page
    script(type='application/json') !{recs} 
   
    